.socialsContainer {
    display: flex;
    justify-content: center;
}

.socialsContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
}

.socialsContainer li a {
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.socialsContainer li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}