#about {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;

    position: relative;
}

.aboutContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.aboutTextContainer {
    display: flex;
    text-align: justify;
    align-items: center;
}

.aboutText {
    font-size: clamp(16px, 1.7vw, 18px);
    line-height: 1.5;
    height: fit-content;
}

.aboutImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.profileImg {
    object-fit: cover;
    border-radius: 50%;
    width: 380px;
    height: 380px;
    margin-bottom: 10px;
}

@media screen and (max-width:1200px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }
}