.heading {
    font-size: 50px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: yellow;
  }
  
  .heading::after {
    content: '';
    display: block;
    position: relative;
    width: 300px;
    height: 2px;
    margin-left: 20px;
    background-color: yellow;
  }
