#intro {
    height: 100vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
}

.introContent {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introTitle {
    font-size: var(--big-font-size);
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
}

.introName {
    color: var(--primary-color);
}

.introPara {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
}


@media screen and (max-width:350px) {
    .bg {
        right: -20vw;
    }
}