#intro {
    height: 100vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
}

.introContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.introContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introTitle {
    font-size: var(--big-font-size);
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
}

.introName {
    color: var(--primary-color);
}

.introPara {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.findOutMoreBtn {
    background-color: var(--body-color);
    font-size: var(--h2-font-size);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 2rem;
}

.findOutMoreBtn a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.findOutMoreBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.findOutMoreBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.findOutMoreBtn:hover span {
    padding-right: 25px;
}

.findOutMoreBtn:hover span:after {
    opacity: 1;
    right: 0;
}

.aboutImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}


.profileImg {
    object-fit: cover;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
}


@media screen and (max-width:350px) {
    .bg {
        right: -20vw;
    }
}